<div style="background-color: aqua;width: 100%; display: inline-block;">
    <div class="time" style="position: relative;">
        <p style="position: absolute;
        right: 3%;
        top: 18px;
        FONT-SIZE: 13PX;
        COLOR: GRAY;
        FONT-FAMILY: auto;">{{Date}}</p>
    </div>
    <div style="position: relative;">
        <p style="position: absolute;    right: 3%;"> {{ currentTime }}</p>


    </div>




</div>

<div style="width: 60%;position: relative;">
    <div style="display: flex;
    margin-left: 16%;">
        <Button class="btn btn-primary" (click)="openFileUplaod()">File Upload</Button>
    </div>


</div>
<div>

    <app-filter-menu></app-filter-menu>
</div>


<div class="footer" style="    position: absolute;
bottom: 15px;
right: 3%;
font-family: auto;">
    <span style="color: gray;">Version 1.01</span>

</div>