.loading-container {
  text-align: center;
  margin-top: 20px;
}

.upload-animation {
  margin-top: 10px;
}

.upload-text {
  margin-top: 10px;
}

.container {
  text-align: center;
  margin-top: 10px;
}

.dropdown {
  flex: 1;
  min-width: 200px;
}

.dropdowns-container {
  margin-top: 20px;
}

.btn {
  padding: 8px;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-success {
  background-color: #28a745;
}

.btn-primary {
  background-color: #007bff;
}

.btn-block {
  width: 100%;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
}

.dropdowns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}
